.top-container {
  background-color: #dae6f2;
  color: #00d1cd;
  padding-top: 22%;
  width: 100%;
  position: relative;
  padding-bottom: 0;
}
body{
  margin: 0;
  text-align: center;
  }
h1{
  padding-top: 50px;
  font-size: 100px;
  margin: 0;
  font-family: 'Sacramento', cursive;
}
div.des{
  font-weight: 500;
  color: #454d66;
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  position: relative;
  left: 4.5%;
 bottom: 40px;

}
p{
  font-family: 'Source Code Pro', monospace;
  
  line-height: 3;
}
.s1{
padding: 0 100px 80px 300px;
}
.s2{
padding: 20px 300px 80px 100px;
}
.profile{
  padding-top: 200px;
  padding-left: 150px;
  padding-right: 150px;
background-color: white;
}
.footer{

  background-color: #589cdd
}
.cloud{
  width: 200px;
}
.topcloud{
  position: relative;
  left: 20%;
}
.bottomcloud{
  position: relative;
  left: 20%;
}
.mountain{
width: 100%;
}---------
.text{
 
  position: relative;
}
#dp{
  margin: 0px auto 50px auto;
  border-radius: 100%;
  width: 180px;
}
#sk{
  float: left;
  width: 100px;
  padding: 80px;
  padding-left: 80px;
  border-left-width: 0px;
  margin-left: 5%;
  background-color: white;
  border-radius: 10%;

}
#sk2{
  padding: 80px;
  float: right;
  background-color: white;
  border-radius: 10%;
  border-radius: 100%;
  width: 100px;
position: relative;
 bottom: 10px;
}
.ftlogo{
  width: 30px;
  padding: 10px;
}
#copy{
  padding: 10px;
  color: #ecf4f3;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: 'Source Code Pro', monospace;
}
.skills{
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #ecf4f3;
  width: 100%;
}
h2{
  font-weight: bold;
  margin: 0;
}
h3{
  margin: 0 auto;
  padding: 0;
}
.skill-row{
  padding: 20px;
}
.footer-link{
text-decoration: none;
}

.footer{
padding-top: 20px;
}