.top-container {
  background-color: #dae6f2;
  color: #00d1cd;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 100px;
  width: 100%;

  position: relative;
}
body{
  margin: 0;
  font-family: 'Shadows Into Light', cursive;

  text-align: center;
  }
h1{
  padding-top: 50px;
  font-size: 100px;
 margin: 0;
  font-family: 'Sacramento', cursive;
}
div.des{
  font-weight: 500;
  color: #454d66;
  margin: 0;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  position: relative;
 left: 80px;
 bottom: 40px;

}
p{
  font-family: 'Source Code Pro', monospace;
  padding: 80px;

}
.profile{
  padding: 150px;
background-color: white;
}
.bottom-container,.contact-me{

  background-color: #93b5b3
}
.cloud{
  padding: 50px;
  width: 200px;
}
.bottomcloud{
  position: absolute;
  top: 450px;
  left: 180px;
}
.topcloud{
  position: absolute;
  top: 50px;
  right: 180px;
}
.mountain{
/*margin-top: 200px;*/
/*border-radius: 100%;*/
width: 100%;
}
.text{
  padding: 150px;
  position: relative;
}
#dp{
  margin: 0px auto 50px auto;
  border-radius: 100%;
  width: 180px;
}
#sk{

  width: 400px;
}
#sk2{
  border-radius: 100%;
  width: 400px;
}
.ftlogo{
  width: 30px;
  padding: 10px;
}
#copy{
  padding: 10px;
  color: #ecf4f3;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: 'Source Code Pro', monospace;
}
.skills{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ecf4f3;
  width: 100%;
}
h2{
  font-weight: bold;
}
